* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #e5e8eb;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #181818;
  color: #fff;
  padding: 7px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header div {
  display: flex;
  align-items: center;
  gap: 50px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

header .logo {
  font-size: 40px;
  font-weight: 700;
}

header nav li {
  list-style: none;
  position: relative;
  transition: all 1s linear;
}

/* hover effect0*/
header nav li:hover ::after,
header nav .active::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 5px;
  border-bottom: 2px solid orangered;
}

header nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

header .search-container button {
  font-size: 20px;
  padding: 4px 8px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
/*
main section
*/

main section {
  margin-bottom: 80px;
}
main .hero img,
.gallery img {
  width: 100%;
  height: 550px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 10%;
  gap: 70px;
  position: relative;
}

.fa-spinner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: orangered;
  font-size: 50px;
}

.product-container {
  height: auto;
  border: 0px solid orangered;
  border-radius: 24px;
  box-shadow: 2px 9px 20px rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
}

.product-details {
  margin-top: 10px;
  padding: 0 25px;
}

.product-title {
  color: orangered;
  margin-bottom: 5px;
  font-weight: 700;
}

.pri-buy-el {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price {
  color: green;
  font-weight: 600;
  letter-spacing: 3px;
}

#buy {
  background-color: green;
  color: #fff;
  padding: 8px 25px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
}

.product-container small a {
  font-weight: 700;
  color: #000;
}

.product-img a img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 20px 20px 0 0;
  padding-top: 10px;
  background: transparent;
}

/* footer */

footer {
  background-color: #3e3e3e;
  padding: 20px 10%;
  color: #fff;
}

footer p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

footer p span {
  color: orangered;
}
/*Responsiveness*/

@media (max-width: 768px) {
  header {
    padding: 7px 3%;
  }

  header div,
  header nav {
    gap: 20px;
  }

  header .logo {
    font-size: 30px;
  }

  header nav li a {
    font-size: 16px;
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 5%;
  }

  .product-container {
    border-radius: 16px;
    padding-bottom: 10px;
  }

  .product-img img {
    height: 200px;
  }

  .product-details {
    padding: 0 15px;
  }

  .product-price {
    font-size: 14px;
  }

  #buy {
    padding: 6px 20px;
    font-size: 14px;
  }

  footer {
    padding: 20px 5%;
  }

  footer p {
    font-size: 16px;
  }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  header {
    padding: 7px 2%;
  }

  header .logo {
    font-size: 24px;
  }

  header nav li a {
    font-size: 14px;
  }

  .product-container {
    padding-bottom: 5px;
  }

  .product-img img {
    height: 150px;
  }

  .product-details {
    padding: 0 10px;
  }

  .product-price {
    font-size: 12px;
  }

  #buy {
    padding: 4px 15px;
    font-size: 12px;
  }

  footer p {
    font-size: 14px;
  }
}

/*cart*/

.cart-container {
  position: relative;
}

#carts-el {
  position: absolute;
  top: -8px;
  left: 6px;
  font-size: 15px;
  color: red;
}

.addedTocart-msg-el {
  position: fixed;
  top: -100%;
  right: 0;
  background-color: rgba(192, 252, 192, 0.9);
  color: rgb(4, 144, 4);
  z-index: 2000;
  padding: 20px 100px;
  border-radius: 0 0 20px 20px;
  transition: top 0.25s linear;
}

/*################### search container ##########################*/

.search-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  left: -100%;
  bottom: -100%;
  overflow-y: auto;

  z-index: 100000;
  padding: 50px 5%;
  background-color: rgba(192, 252, 192, 0.7);
  transition: all 1.5s linear;
}

/* hide modal*/

.show-modal {
  left: 0;
  bottom: 0;
}

.close-modal {
  margin-bottom: 20px;
  font-size: 50px;
  color: red;
  display: flex;
  justify-content: end;
}

.close-modal dt {
  cursor: pointer;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.control-action form {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20%;
}

.control-action form input {
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid #fff;
  flex: 1;
  font-size: 20px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #fff;
}

.control-action form button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #fff;
  color: orangered;
  border: 2px solid #fff;
  font-weight: 600;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.search-result ul li {
  display: flex;
  gap: 30px;
  list-style: none;

  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.search-result ul li .details {
  display: flex;
  align-items: center;
  gap: 30px;
  align-self: flex-end;
  font-size: 18px;
  font-weight: 600;
}

.search-result ul li img {
  height: 100px;
  width: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.search-result ul li .details a {
  color: #000;
  font-style: italic;
}

.search-result .details h1 {
  font-size: 18px;
}
